@model Tickts


<div class="row">
    <div class="col-lg-12">
        <div class="form-box">
            <div class="form-title-wrap">
                <div class="d-flex align-items-center justify-content-between">
                    <div>
                        <h3 class="title">Create Fly Tickts</h3>
                    </div>
                   
                </div>
            </div>
            <div class="form-content">
                <div class="table-form table-responsive">


                    <form class="row" style="width: 1000px;" method="post" asp-area="Admin" asp-controller="Slider" asp-action="Create" enctype="multipart/form-data">

                        @Html.AntiForgeryToken()
                        <div class="col-md-4">
                            <label>
                                From
                            </label>
                            <select asp-for="From" type="text" class="form-select" style="width:304px; height:38px">
                                <option value="JFK">John F. Kennedy International Airport (JFK)</option>
                                <option value="LHR">London Heathrow Airport (LHR)</option>
                                <option value="YYZ">Toronto Pearson International Airport (YYZ)</option>
                                <option value="CDG">Paris Charles de Gaulle Airport (CDG)</option>
                                <option value="FRA">Frankfurt Airport (FRA)</option>
                                <option value="SIN">Singapore Changi Airport (SIN)</option>
                                <option value="HKG">Hong Kong International Airport (HKG)</option>
                                <option value="SYD">Sydney Kingsford Smith Airport (SYD)</option>
                                <option value="DXB">Dubai International Airport (DXB)</option>
                                <option value="BKK">Suvarnabhumi Airport (BKK)</option>
                                <option value="DEL">Indira Gandhi International Airport (DEL)</option>
                                <option value="JNB">OR Tambo International Airport (JNB)</option>
                                <option value="LAX">Los Angeles International Airport (LAX)</option>
                                <option value="IST">Istanbul Airport (IST)</option>
                                <option value="AMS">Amsterdam Airport Schiphol (AMS)</option>
                                <option value="ICN">Incheon International Airport (ICN)</option>
                                <option value="MUC">Munich Airport (MUC)</option>
                                <option value="PEK">Beijing Capital International Airport (PEK)</option>
                                <option value="MIA">Miami International Airport (MIA)</option>
                                <option value="DFW">Dallas/Fort Worth International Airport (DFW)</option>
                                <option value="MEL">Melbourne Airport (MEL)</option>
                                <option value="LHR">London Heathrow Airport (LHR)</option>
                                <option value="JFK">John F. Kennedy International Airport (JFK)</option>
                                <!-- Add more options as needed -->
                            </select>

@*                             <input asp-for="From" type="text" class="form-control" />
 *@                            <span asp-validation-for="From" class="text-danger"></span>
                          </div>



                        <div class="col-md-4">
                            <label>
                                To
                            </label>
                            <select asp-for="To" type="text" class="form-select" style="width:304px; height:38px">
                                <option value="JFK">John F. Kennedy International Airport (JFK)</option>
                                <option value="LHR">London Heathrow Airport (LHR)</option>
                                <option value="YYZ">Toronto Pearson International Airport (YYZ)</option>
                                <option value="CDG">Paris Charles de Gaulle Airport (CDG)</option>
                                <option value="FRA">Frankfurt Airport (FRA)</option>
                                <option value="SIN">Singapore Changi Airport (SIN)</option>
                                <option value="HKG">Hong Kong International Airport (HKG)</option>
                                <option value="SYD">Sydney Kingsford Smith Airport (SYD)</option>
                                <option value="DXB">Dubai International Airport (DXB)</option>
                                <option value="BKK">Suvarnabhumi Airport (BKK)</option>
                                <option value="DEL">Indira Gandhi International Airport (DEL)</option>
                                <option value="JNB">OR Tambo International Airport (JNB)</option>
                                <option value="LAX">Los Angeles International Airport (LAX)</option>
                                <option value="IST">Istanbul Airport (IST)</option>
                                <option value="AMS">Amsterdam Airport Schiphol (AMS)</option>
                                <option value="ICN">Incheon International Airport (ICN)</option>
                                <option value="MUC">Munich Airport (MUC)</option>
                                <option value="PEK">Beijing Capital International Airport (PEK)</option>
                                <option value="MIA">Miami International Airport (MIA)</option>
                                <option value="DFW">Dallas/Fort Worth International Airport (DFW)</option>
                                <option value="MEL">Melbourne Airport (MEL)</option>
                                <option value="LHR">London Heathrow Airport (LHR)</option>
                                <option value="JFK">John F. Kennedy International Airport (JFK)</option>
                                <!-- Add more options as needed -->
                            </select>

                            <span asp-validation-for="To" class="text-danger"></span>
                        </div>







                        <div class="col-md-4">
                            <label>
                                Direction
                            </label>

                            <select asp-for="Way" type="text" class="form-select" style="width:304px; height:38px">
                                <option value="One Way">One Way</option>
                                <option value="Round-Trip">Round-Trip</option>
                            </select>

                            @* <input asp-for="Way" type="text" class="form-control" /> *@
                            <span asp-validation-for="Way" class="text-danger"></span>

                        </div>

                        <div class="col-md-4">
                            <label>
                                Class
                            </label>
@*                             <input asp-for="Classes" type="text" class="form-control" />
 *@

                            <select asp-for="Classes" type="text" class="form-select" style="width:304px; height:38px">
                                <option value="Economy Class">Economy Class</option>
                                <option value="Business Class">Business Class</option>
                                <option value="First Class">First Class</option>
                            </select>

                            <span asp-validation-for="Classes" class="text-danger"></span>


                        </div>


                        <div class="col-md-4">
                            <label>
                                Stops
                            </label>

                            <select asp-for="Stop" type="text" class="form-select" style="width:304px; height:38px">
                                <option value="Non Stop"> Non Stop</option>
                                <option value="1 Stop">1 Stop</option>
                                <option value="2 Stop">2 Stop</option>
                                <option value="3 Stop">3 Stop</option>
                            </select>

                            @* <input asp-for="Way" type="text" class="form-control" /> *@
                            <span asp-validation-for="Stop" class="text-danger"></span>

                        </div>




                        <div class="col-md-4">
                            <label>
                                Flight Number
                            </label>
                            <input asp-for="FlightNumber" type="text" class="form-control" />
                            <span asp-validation-for="FlightNumber" class="text-danger"></span>
                        </div>

                        <div class="col-md-4">
                            <label>
                                Price
                            </label>
                            <input asp-for="Price" type="text" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>

                        </div>

                        <div class="col-md-4">
                            <label>
                                Take Off Time
                            </label>
                            <input asp-for="Date" type="datetime-local" class="form-control" />
                            <span asp-validation-for="Date" class="text-danger"></span>         
                        </div>

                        <div class="col-md-4">
                            <label>
                                Landing Time
                            </label>
                            <input asp-for="LandigTime" type="datetime-local" class="form-control" />
                            <span asp-validation-for="LandigTime" class="text-danger"></span>                        
                        </div>

                        <div class="col-md-4">
                            <label>
                               Total Flight Time
                            </label>
                            <input asp-for="Time" type="text" class="form-control" />
                            <span asp-validation-for="Time" class="text-danger"></span>

                        </div>

                        <div class="col-md-4">
                            <label>
                                Images
                            </label>
                            <input asp-for="File" type="file" class="form-control" />
                        </div>


                        <div class="col-md-4" >
                            <button type="submit" class="btn btn-danger mt-3 btn-block">Add Database</button>
                        </div>
                    
                    
                    </form>
                </div>
            </div>
        </div><!-- end form-box -->
    </div><!-- end col-lg-12 -->
</div><!-- end row -->