@model List<Product>

<section class="hero-wrapper">
      <div class="hero-box hero-bg">
        <span class="line-bg line-bg1"></span>
        <span class="line-bg line-bg2"></span>
        <span class="line-bg line-bg3"></span>
        <span class="line-bg line-bg4"></span>
        <span class="line-bg line-bg5"></span>
        <span class="line-bg line-bg6"></span>
        <div class="container">
          <div class="row">
            <div class="col-lg-10 mx-auto responsive--column-l">
              <div class="hero-content pb-5">
                <div class="section-heading">
                  <h2 class="sec__title cd-headline zoom">
                    Amazing
                    <span class="cd-words-wrapper">
                      <b class="is-visible">Tours</b>
                      <b>Adventures</b>
                      <b>Flights</b>
                      <b>Fun</b>
                      <b>People</b>
                    </span>
                    Waiting for You
                  </h2>
                </div>
              </div>
              <!-- end hero-content -->
              <div class="section-tab text-center pl-4">
               
              </div>
              <!-- end section-tab -->
              <div
                class="tab-content search-fields-container"
                id="myTabContent"
              >
                <div
                  class="tab-pane fade show active"
                  id="flight"
                  role="tabpanel"
                  aria-labelledby="flight-tab"
                >
                  <div class="section-tab section-tab-2 pb-3">
                    <ul class="nav nav-tabs" id="myTab3" role="tablist">
                      <li class="nav-item">
                        <a
                          class="nav-link active"
                          id="one-way-tab"
                          data-toggle="tab"
                          href="#one-way"
                          role="tab"
                          aria-controls="one-way"
                          aria-selected="true"

                        >                        
                          One way
                        </a>
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link"
                          id="round-trip-tab"
                          data-toggle="tab"
                          href="#round-trip"
                          role="tab"
                          aria-controls="round-trip"
                          aria-selected="false"
                        >
                          Round-trip
                        </a>
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link"
                          id="multi-city-tab"
                          data-toggle="tab"
                          href="#multi-city"
                          role="tab"
                          aria-controls="multi-city"
                          aria-selected="false"
                        >
                          Multi-city
                        </a>
                      </li>
                    </ul>
                  </div>
                  <!-- end section-tab -->
                  <div class="tab-content" id="myTabContent3">
                    <div
                      class="tab-pane fade show active"
                      id="one-way"
                      role="tabpanel"
                      aria-labelledby="one-way-tab"
                    >
                      <div class="contact-form-action">
                        <form action="#" class="row align-items-center">
                          <div class="col-lg-6 pr-0">
                            <div class="input-box">
                              <label class="label-text">Flying from</label>
                              <div class="form-group">
                                <span class="la la-map-marker form-icon"></span>
                                <input
                                  class="form-control"
                                  type="text"
                                  placeholder="City or airport"
                                />
                              </div>
                            </div>
                          </div>
                          <!-- end col-lg-3 -->
                          <div class="col-lg-6">
                            <div class="input-box">
                              <label class="label-text">Flying to</label>
                              <div class="form-group">
                                <span class="la la-map-marker form-icon"></span>
                                <input
                                  class="form-control"
                                  type="text"
                                  placeholder="City or airport"
                                />
                              </div>
                            </div>
                          </div>
                          <!-- end col-lg-3 -->
                          <div class="col-lg-3 pr-0">
                            <div class="input-box">
                              <label class="label-text">Departing</label>
                              <div class="form-group">
                                <span class="la la-calendar form-icon"></span>
                                <input
                                  class="date-range form-control"
                                  type="text"
                                  name="daterange-single"
                                />
                              </div>
                            </div>
                          </div>
                          <!-- end col-lg-3 -->
                          <div class="col-lg-3 pr-0">
                            <div class="input-box">
                              <label class="label-text">Passengers</label>
                              <div class="form-group">
                                <div
                                  class="dropdown dropdown-contain gty-container"
                                >
                                  <a
                                    class="dropdown-toggle dropdown-btn"
                                    href="#"
                                    role="button"
                                    data-toggle="dropdown"
                                    aria-expanded="false"
                                  >
                                    <span
                                      class="adult"
                                      data-text="Adult"
                                      data-text-multi="Adults"
                                      >0 Adult</span
                                    >
                                    -
                                    <span
                                      class="children"
                                      data-text="Child"
                                      data-text-multi="Children"
                                      >0 Child</span
                                    >
                                  </a>
                                  <div class="dropdown-menu dropdown-menu-wrap">
                                    <div class="dropdown-item">
                                      <div
                                        class="qty-box d-flex align-items-center justify-content-between"
                                      >
                                        <label>Adults</label>
                                        <div
                                          class="qtyBtn d-flex align-items-center"
                                        >
                                          <div class="qtyDec">
                                            <i class="la la-minus"></i>
                                          </div>
                                          <input
                                            type="text"
                                            name="adult_number"
                                            value="0"
                                          />
                                          <div class="qtyInc">
                                            <i class="la la-plus"></i>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="dropdown-item">
                                      <div
                                        class="qty-box d-flex align-items-center justify-content-between"
                                      >
                                        <label>Children</label>
                                        <div
                                          class="qtyBtn d-flex align-items-center"
                                        >
                                          <div class="qtyDec">
                                            <i class="la la-minus"></i>
                                          </div>
                                          <input
                                            type="text"
                                            name="child_number"
                                            value="0"
                                          />
                                          <div class="qtyInc">
                                            <i class="la la-plus"></i>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="dropdown-item">
                                      <div
                                        class="qty-box d-flex align-items-center justify-content-between"
                                      >
                                        <label>Infants</label>
                                        <div
                                          class="qtyBtn d-flex align-items-center"
                                        >
                                          <div class="qtyDec">
                                            <i class="la la-minus"></i>
                                          </div>
                                          <input
                                            type="text"
                                            name="infants_number"
                                            value="0"
                                          />
                                          <div class="qtyInc">
                                            <i class="la la-plus"></i>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <!-- end dropdown -->
                              </div>
                            </div>
                          </div>
                          <!-- end col-lg-3 -->
                          <div class="col-lg-3 pr-0">
                            <div class="input-box">
                              <label class="label-text">Coach</label>
                              <div class="form-group select-contain w-auto">


                                 <select class="select-contain-select">
                                  <option value="Economy Class" selected>Economy Class</option>
                                  <option value="Business Class">Business Class</option>
                                  <option value="First class">First class</option>
                                </select>


                              </div>
                            </div>
                          </div>
                          <!-- end col-lg-3 -->
                          <div class="col-lg-3">
                            <a asp-controller="Home" asp-action="FlightSearch"
                              class="btn btn-danger w-100 text-center margin-top-20px"
                              >Search Now</a>
                          </div>
                        </form>
                      </div>
                    </div>
                    <!-- end tab-pane -->
                    <div
                      class="tab-pane fade"
                      id="round-trip"
                      role="tabpanel"
                      aria-labelledby="round-trip-tab"
                    >
                      <div class="contact-form-action">
                        <form action="#" class="row align-items-center">
                          <div class="col-lg-6 pr-0">
                            <div class="input-box">
                              <label class="label-text">Flying from</label>
                              <div class="form-group">
                                <span class="la la-map-marker form-icon"></span>
                                <input
                                  class="form-control"
                                  type="text"
                                  placeholder="City or airport"
                                />
                              </div>
                            </div>
                          </div>
                          <!-- end col-lg-3 -->
                          <div class="col-lg-6">
                            <div class="input-box">
                              <label class="label-text">Flying to</label>
                              <div class="form-group">
                                <span class="la la-map-marker form-icon"></span>
                                <input
                                  class="form-control"
                                  type="text"
                                  placeholder="City or airport"
                                />
                              </div>
                            </div>
                          </div>
                          <!-- end col-lg-3 -->
                          <div class="col-lg-3 pr-0">
                            <div class="input-box">
                              <label class="label-text"
                                >Departing - Returning</label
                              >
                              <div class="form-group">
                                <span class="la la-calendar form-icon"></span>
                                <input
                                  class="date-range form-control"
                                  type="text"
                                  name="daterange"
                                />
                              </div>
                            </div>
                          </div>
                          <!-- end col-lg-3 -->
                          <div class="col-lg-3 pr-0">
                            <div class="input-box">
                              <label class="label-text">Passengers</label>
                              <div class="form-group">
                                <div
                                  class="dropdown dropdown-contain gty-container"
                                >
                                  <a
                                    class="dropdown-toggle dropdown-btn"
                                    href="#"
                                    role="button"
                                    data-toggle="dropdown"
                                    aria-expanded="false"
                                  >
                                    <span
                                      class="adult"
                                      data-text="Adult"
                                      data-text-multi="Adults"
                                      >0 Adult</span
                                    >
                                    -
                                    <span
                                      class="children"
                                      data-text="Child"
                                      data-text-multi="Children"
                                      >0 Child</span
                                    >
                                  </a>
                                  <div class="dropdown-menu dropdown-menu-wrap">
                                    <div class="dropdown-item">
                                      <div
                                        class="qty-box d-flex align-items-center justify-content-between"
                                      >
                                        <label>Adults</label>
                                        <div
                                          class="qtyBtn d-flex align-items-center"
                                        >
                                          <div class="qtyDec">
                                            <i class="la la-minus"></i>
                                          </div>
                                          <input
                                            type="text"
                                            name="adult_number"
                                            value="0"
                                          />
                                          <div class="qtyInc">
                                            <i class="la la-plus"></i>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="dropdown-item">
                                      <div
                                        class="qty-box d-flex align-items-center justify-content-between"
                                      >
                                        <label>Children</label>
                                        <div
                                          class="qtyBtn d-flex align-items-center"
                                        >
                                          <div class="qtyDec">
                                            <i class="la la-minus"></i>
                                          </div>
                                          <input
                                            type="text"
                                            name="child_number"
                                            value="0"
                                          />
                                          <div class="qtyInc">
                                            <i class="la la-plus"></i>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="dropdown-item">
                                      <div
                                        class="qty-box d-flex align-items-center justify-content-between"
                                      >
                                        <label>Infants</label>
                                        <div
                                          class="qtyBtn d-flex align-items-center"
                                        >
                                          <div class="qtyDec">
                                            <i class="la la-minus"></i>
                                          </div>
                                          <input
                                            type="text"
                                            name="infants_number"
                                            value="0"
                                          />
                                          <div class="qtyInc">
                                            <i class="la la-plus"></i>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <!-- end dropdown -->
                              </div>
                            </div>
                          </div>
                          <!-- end col-lg-3 -->
                          <div class="col-lg-3 pr-0">
                            <div class="input-box">
                              <label class="label-text">Coach</label>
                              <div class="form-group">
                                <div class="select-contain w-auto">
                                  <select class="select-contain-select">
                                    <option value="1" selected>Economy</option>
                                    <option value="2">Business</option>
                                    <option value="3">First class</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- end col-lg-3 -->
                          <div class="col-lg-3">
                            <a asp-controller="Home" asp-action="FlightSearch" class="theme-btn w-100 text-center margin-top-20px">Search Now</a>
                          </div>
                        </form>
                      </div>
                   
                      <!-- end advanced-wrap -->
                    </div>
                    <!-- end tab-pane -->
                    <div
                      class="tab-pane fade multi-flight-wrap"
                      id="multi-city"
                      role="tabpanel"
                      aria-labelledby="multi-city-tab"
                    >
                      <div
                        class="contact-form-action multi-flight-field d-flex align-items-center"
                      >
                        <form
                          action="#"
                          class="row flex-grow-1 align-items-center"
                        >
                          <div class="col-lg-4 pr-0">
                            <div class="input-box">
                              <label class="label-text">Flying from</label>
                              <div class="form-group">
                                <span class="la la-map-marker form-icon"></span>
                                <input
                                  class="form-control"
                                  type="text"
                                  placeholder="City or airport"
                                />
                              </div>
                            </div>
                          </div>
                          <!-- end col-lg-3 -->
                          <div class="col-lg-4 pr-0">
                            <div class="input-box">
                              <label class="label-text">Flying to</label>
                              <div class="form-group">
                                <span class="la la-map-marker form-icon"></span>
                                <input
                                  class="form-control"
                                  type="text"
                                  placeholder="City or airport"
                                />
                              </div>
                            </div>
                          </div>
                          <!-- end col-lg-3 -->
                          <div class="col-lg-4">
                            <div class="input-box">
                              <label class="label-text">Departing</label>
                              <div class="form-group">
                                <span class="la la-calendar form-icon"></span>
                                <input
                                  class="date-range form-control date-multi-picker"
                                  id="date"
                                  type="text"
                                  name="daterange-single"
                                />
                              </div>
                            </div>
                          </div>
                          <!-- end col-lg-3 -->
                        </form>
                        <div class="multi-flight-delete-wrap pt-3 pl-3">
                          <button class="multi-flight-remove" type="button">
                            <i class="la la-remove"></i>
                          </button>
                        </div>
                      </div>
                      <div class="row align-items-center">
                        <div class="col-lg-3 pr-0">
                          <div class="form-group">
                            <button
                              class="theme-btn add-flight-btn margin-top-40px w-100"
                              type="button"
                            >
                              <i class="la la-plus mr-1"></i>Add another flight
                            </button>
                          </div>
                        </div>
                        <div class="col-lg-3 pr-0">
                          <div class="input-box">
                            <label class="label-text">Passengers</label>
                            <div class="form-group">
                              <div
                                class="dropdown dropdown-contain gty-container"
                              >
                                <a
                                  class="dropdown-toggle dropdown-btn"
                                  href="#"
                                  role="button"
                                  data-toggle="dropdown"
                                  aria-expanded="false"
                                >
                                  <span
                                    class="adult"
                                    data-text="Adult"
                                    data-text-multi="Adults"
                                    >0 Adult</span
                                  >
                                  -
                                  <span
                                    class="children"
                                    data-text="Child"
                                    data-text-multi="Children"
                                    >0 Child</span
                                  >
                                </a>
                                <div class="dropdown-menu dropdown-menu-wrap">
                                  <div class="dropdown-item">
                                    <div
                                      class="qty-box d-flex align-items-center justify-content-between"
                                    >
                                      <label>Adults</label>
                                      <div
                                        class="qtyBtn d-flex align-items-center"
                                      >
                                        <div class="qtyDec">
                                          <i class="la la-minus"></i>
                                        </div>
                                        <input
                                          type="text"
                                          name="adult_number"
                                          value="0"
                                        />
                                        <div class="qtyInc">
                                          <i class="la la-plus"></i>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="dropdown-item">
                                    <div
                                      class="qty-box d-flex align-items-center justify-content-between"
                                    >
                                      <label>Children</label>
                                      <div
                                        class="qtyBtn d-flex align-items-center"
                                      >
                                        <div class="qtyDec">
                                          <i class="la la-minus"></i>
                                        </div>
                                        <input
                                          type="text"
                                          name="child_number"
                                          value="0"
                                        />
                                        <div class="qtyInc">
                                          <i class="la la-plus"></i>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="dropdown-item">
                                    <div
                                      class="qty-box d-flex align-items-center justify-content-between"
                                    >
                                      <label>Infants</label>
                                      <div
                                        class="qtyBtn d-flex align-items-center"
                                      >
                                        <div class="qtyDec">
                                          <i class="la la-minus"></i>
                                        </div>
                                        <input
                                          type="text"
                                          name="infants_number"
                                          value="0"
                                        />
                                        <div class="qtyInc">
                                          <i class="la la-plus"></i>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- end dropdown -->
                            </div>
                          </div>
                        </div>
                        <!-- end col-lg-3 -->
                        <div class="col-lg-3 pr-0">
                          <div class="input-box">
                            <label class="label-text">Coach</label>
                            <div class="form-group">
                              <div class="select-contain w-auto">
                                <select class="select-contain-select">
                                  <option value="1" selected>Economy</option>
                                  <option value="2">Business</option>
                                  <option value="3">First class</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- end col-lg-3 -->
                        <div class="col-lg-3">
                          <a
                            asp-controller="Home" asp-action="FlightSearch"
                            class="theme-btn w-100 text-center margin-top-20px"
                            >Search Now</a >
                        </div>
                      </div>
                    </div>
                    <!-- end tab-pane -->
                  </div>
                </div>
                <!-- end tab-pane -->
               
                <!-- end tab-pane -->
               
                <!-- end tab-pane -->
              </div>
            </div>
            <!-- end col-lg-12 -->
          </div>
          <!-- end row -->
        </div>
        <!-- end container -->
        <svg
          class="hero-svg"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 100 10"
          preserveAspectRatio="none"
        >
        </svg>
      </div>
    </section>


                    <section class="round-trip-flight section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-heading text-center">
              <h2 class="sec__title line-height-55">
                Most Popular Round-trip <br />
                Flight Destinations
              </h2>
            </div>
            <!-- end section-heading -->
          </div>
          <!-- end col-lg-12 -->
        </div>
        <!-- end row -->
        <div class="row padding-top-50px">
          <div class="col-lg-12">
            <div class="flight-filter-tab text-center">
              <div class="section-tab section-tab-3">
                <ul
                  class="nav nav-tabs justify-content-center"
                  id="myTab4"
                  role="tablist"
                >
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      id="new-york-tab"
                      data-toggle="tab"
                      href="#new-york"
                      role="tab"
                      aria-controls="new-york"
                      aria-selected="false"
                    >
                      New York
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      id="hong-kong-tab"
                      data-toggle="tab"
                      href="#hong-kong"
                      role="tab"
                      aria-controls="hong-kong"
                      aria-selected="false"
                    >
                      Hong Kong
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      id="beijing-tab"
                      data-toggle="tab"
                      href="#beijing"
                      role="tab"
                      aria-controls="beijing"
                      aria-selected="false"
                    >
                      Beijing
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      id="tokyo-tab"
                      data-toggle="tab"
                      href="#tokyo"
                      role="tab"
                      aria-controls="tokyo"
                      aria-selected="false"
                    >
                      Tokyo
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      id="seoul-tab"
                      data-toggle="tab"
                      href="#seoul"
                      role="tab"
                      aria-controls="seoul"
                      aria-selected="false"
                    >
                      Seoul
                    </a>
                  </li>
                </ul>
              </div>
              <!-- end section-tab -->
            </div>
            <!-- end flight-filter-tab -->
            <div class="popular-round-trip-wrap padding-top-40px">
              <div class="tab-content" id="myTabContent4">
                <div
                  class="tab-pane fade show active"
                  id="new-york"
                  role="tabpanel"
                  aria-labelledby="new-york-tab"
                >
                  <div class="row">
                    <div class="col-lg-4 responsive-column">
                      <div class="deal-card">
                        <div class="deal-title d-flex align-items-center">
                          <img
                            src="~/images/airline-img.png"
                            alt="air-line-img"
                          />
                          <h3 class="deal__title">
                            <a
                              href="flight-single.html"
                              class="d-flex align-items-center"
                            >
                              New York<i class="la la-exchange mx-2"></i>Los
                              Angeles
                            </a>
                          </h3>
                        </div>
                        <p class="deal__meta">Tue, Jul 14-Fri, Jul 24</p>
                        <div
                          class="deal-action-box d-flex align-items-center justify-content-between"
                        >
                          <div class="price-box d-flex align-items-center">
                            <span class="price__from mr-1">From</span
                            ><span class="price__num">$340</span>
                          </div>
                          <a href="flight-single.html" class="btn-text"
                            >See details<i class="la la-angle-right"></i
                          ></a>
                        </div>
                      </div>
                      <!-- end deal-card -->
                    </div>
                    <!-- end col-lg-4 -->
                    <div class="col-lg-4 responsive-column">
                      <div class="deal-card">
                        <div class="deal-title d-flex align-items-center">
                          <img
                            src="~/images/airline-img2.png"
                            alt="air-line-img"
                          />
                          <h3 class="deal__title">
                            <a
                              href="flight-single.html"
                              class="d-flex align-items-center"
                            >
                              New York<i class="la la-exchange mx-2"></i
                              >Barcelona
                            </a>
                          </h3>
                        </div>
                        <p class="deal__meta">Tue, Jul 14-Fri, Jul 24</p>
                        <div
                          class="deal-action-box d-flex align-items-center justify-content-between"
                        >
                          <div class="price-box d-flex align-items-center">
                            <span class="price__from mr-1">From</span
                            ><span class="price__num">$740</span>
                          </div>
                          <a href="flight-single.html" class="btn-text"
                            >See details<i class="la la-angle-right"></i
                          ></a>
                        </div>
                      </div>
                      <!-- end deal-card -->
                    </div>
                    <!-- end col-lg-4 -->
                    <div class="col-lg-4 responsive-column">
                      <div class="deal-card">
                        <div class="deal-title d-flex align-items-center">
                          <img
                            src="~/images/airline-img3.png"
                            alt="air-line-img"
                          />
                          <h3 class="deal__title">
                            <a
                              href="flight-single.html"
                              class="d-flex align-items-center"
                            >
                              New York<i class="la la-exchange mx-2"></i>Dallas
                            </a>
                          </h3>
                        </div>
                        <p class="deal__meta">Tue, Jul 14-Fri, Jul 24</p>
                        <div
                          class="deal-action-box d-flex align-items-center justify-content-between"
                        >
                          <div class="price-box d-flex align-items-center">
                            <span class="price__from mr-1">From</span
                            ><span class="price__num">$140</span>
                          </div>
                          <a href="flight-single.html" class="btn-text"
                            >See details<i class="la la-angle-right"></i
                          ></a>
                        </div>
                      </div>
                      <!-- end deal-card -->
                    </div>
                    <!-- end col-lg-4 -->
                    <div class="col-lg-4 responsive-column">
                      <div class="deal-card">
                        <div class="deal-title d-flex align-items-center">
                          <img
                            src="~/images/airline-img4.png"
                            alt="air-line-img"
                          />
                          <h3 class="deal__title">
                            <a
                              href="flight-single.html"
                              class="d-flex align-items-center"
                            >
                              New York<i class="la la-exchange mx-2"></i>San
                              Francisco
                            </a>
                          </h3>
                        </div>
                        <p class="deal__meta">Tue, Jul 14-Fri, Jul 24</p>
                        <div
                          class="deal-action-box d-flex align-items-center justify-content-between"
                        >
                          <div class="price-box d-flex align-items-center">
                            <span class="price__from mr-1">From</span
                            ><span class="price__num">$340</span>
                          </div>
                          <a href="flight-single.html" class="btn-text"
                            >See details<i class="la la-angle-right"></i
                          ></a>
                        </div>
                      </div>
                      <!-- end deal-card -->
                    </div>
                    <!-- end col-lg-4 -->
                    <div class="col-lg-4 responsive-column">
                      <div class="deal-card">
                        <div class="deal-title d-flex align-items-center">
                          <img
                            src="~/images/airline-img5.png"
                            alt="air-line-img"
                          />
                          <h3 class="deal__title">
                            <a
                              href="flight-single.html"
                              class="d-flex align-items-center"
                            >
                              New York<i class="la la-exchange mx-2"></i>Miami
                            </a>
                          </h3>
                        </div>
                        <p class="deal__meta">Tue, Jul 14-Fri, Jul 24</p>
                        <div
                          class="deal-action-box d-flex align-items-center justify-content-between"
                        >
                          <div class="price-box d-flex align-items-center">
                            <span class="price__from mr-1">From</span
                            ><span class="price__num">$100</span>
                          </div>
                          <a href="flight-single.html" class="btn-text"
                            >See details<i class="la la-angle-right"></i
                          ></a>
                        </div>
                      </div>
                      <!-- end deal-card -->
                    </div>
                    <!-- end col-lg-4 -->
                    <div class="col-lg-4 responsive-column">
                      <div class="deal-card">
                        <div class="deal-title d-flex align-items-center">
                          <img
                            src="~/images/airline-img6.png"
                            alt="air-line-img"
                          />
                          <h3 class="deal__title">
                            <a
                              href="flight-single.html"
                              class="d-flex align-items-center"
                            >
                              New York<i class="la la-exchange mx-2"></i>London
                            </a>
                          </h3>
                        </div>
                        <p class="deal__meta">Tue, Jul 14-Fri, Jul 24</p>
                        <div
                          class="deal-action-box d-flex align-items-center justify-content-between"
                        >
                          <div class="price-box d-flex align-items-center">
                            <span class="price__from mr-1">From</span
                            ><span class="price__num">$640</span>
                          </div>
                          <a href="flight-single.html" class="btn-text"
                            >See details<i class="la la-angle-right"></i
                          ></a>
                        </div>
                      </div>
                      <!-- end deal-card -->
                    </div>
                    <!-- end col-lg-4 -->
                  </div>
                </div>
                <!-- end tab-pane -->
                <div
                  class="tab-pane fade"
                  id="hong-kong"
                  role="tabpanel"
                  aria-labelledby="hong-kong-tab"
                >
                  <div class="row">
                    <div class="col-lg-4 responsive-column">
                      <div class="deal-card">
                        <div class="deal-title d-flex align-items-center">
                          <img
                            src="~/images/airline-img.png"
                            alt="air-line-img"
                          />
                          <h3 class="deal__title">
                            <a
                              href="flight-single.html"
                              class="d-flex align-items-center"
                            >
                              Hong Kong<i class="la la-exchange mx-2"></i
                              >Singapore
                            </a>
                          </h3>
                        </div>
                        <p class="deal__meta">Tue, Jul 14-Fri, Jul 24</p>
                        <div
                          class="deal-action-box d-flex align-items-center justify-content-between"
                        >
                          <div class="price-box d-flex align-items-center">
                            <span class="price__from mr-1">From</span
                            ><span class="price__num">$340</span>
                          </div>
                          <a href="flight-single.html" class="btn-text"
                            >See details<i class="la la-angle-right"></i
                          ></a>
                        </div>
                      </div>
                      <!-- end deal-card -->
                    </div>
                    <!-- end col-lg-4 -->
                    <div class="col-lg-4 responsive-column">
                      <div class="deal-card">
                        <div class="deal-title d-flex align-items-center">
                          <img
                            src="~/images/airline-img2.png"
                            alt="air-line-img"
                          />
                          <h3 class="deal__title">
                            <a
                              href="flight-single.html"
                              class="d-flex align-items-center"
                            >
                              Hong Kong<i class="la la-exchange mx-2"></i>Tokyo
                            </a>
                          </h3>
                        </div>
                        <p class="deal__meta">Tue, Jul 14-Fri, Jul 24</p>
                        <div
                          class="deal-action-box d-flex align-items-center justify-content-between"
                        >
                          <div class="price-box d-flex align-items-center">
                            <span class="price__from mr-1">From</span
                            ><span class="price__num">$740</span>
                          </div>
                          <a href="flight-single.html" class="btn-text"
                            >See details<i class="la la-angle-right"></i
                          ></a>
                        </div>
                      </div>
                      <!-- end deal-card -->
                    </div>
                    <!-- end col-lg-4 -->
                    <div class="col-lg-4 responsive-column">
                      <div class="deal-card">
                        <div class="deal-title d-flex align-items-center">
                          <img
                            src="~/images/airline-img3.png"
                            alt="air-line-img"
                          />
                          <h3 class="deal__title">
                            <a
                              href="flight-single.html"
                              class="d-flex align-items-center"
                            >
                              Hong Kong<i class="la la-exchange mx-2"></i>Seoul
                            </a>
                          </h3>
                        </div>
                        <p class="deal__meta">Tue, Jul 14-Fri, Jul 24</p>
                        <div
                          class="deal-action-box d-flex align-items-center justify-content-between"
                        >
                          <div class="price-box d-flex align-items-center">
                            <span class="price__from mr-1">From</span
                            ><span class="price__num">$140</span>
                          </div>
                          <a href="flight-single.html" class="btn-text"
                            >See details<i class="la la-angle-right"></i
                          ></a>
                        </div>
                      </div>
                      <!-- end deal-card -->
                    </div>
                    <!-- end col-lg-4 -->
                    <div class="col-lg-4 responsive-column">
                      <div class="deal-card">
                        <div class="deal-title d-flex align-items-center">
                          <img
                            src="~/images/airline-img4.png"
                            alt="air-line-img"
                          />
                          <h3 class="deal__title">
                            <a
                              href="flight-single.html"
                              class="d-flex align-items-center"
                            >
                              Hong Kong<i class="la la-exchange mx-2"></i>Manila
                            </a>
                          </h3>
                        </div>
                        <p class="deal__meta">Tue, Jul 14-Fri, Jul 24</p>
                        <div
                          class="deal-action-box d-flex align-items-center justify-content-between"
                        >
                          <div class="price-box d-flex align-items-center">
                            <span class="price__from mr-1">From</span
                            ><span class="price__num">$340</span>
                          </div>
                          <a href="flight-single.html" class="btn-text"
                            >See details<i class="la la-angle-right"></i
                          ></a>
                        </div>
                      </div>
                      <!-- end deal-card -->
                    </div>
                    <!-- end col-lg-4 -->
                    <div class="col-lg-4 responsive-column">
                      <div class="deal-card">
                        <div class="deal-title d-flex align-items-center">
                          <img
                            src="~/images/airline-img5.png"
                            alt="air-line-img"
                          />
                          <h3 class="deal__title">
                            <a
                              href="flight-single.html"
                              class="d-flex align-items-center"
                            >
                              Hong Kong<i class="la la-exchange mx-2"></i>Nepal
                            </a>
                          </h3>
                        </div>
                        <p class="deal__meta">Tue, Jul 14-Fri, Jul 24</p>
                        <div
                          class="deal-action-box d-flex align-items-center justify-content-between"
                        >
                          <div class="price-box d-flex align-items-center">
                            <span class="price__from mr-1">From</span
                            ><span class="price__num">$100</span>
                          </div>
                          <a href="flight-single.html" class="btn-text"
                            >See details<i class="la la-angle-right"></i
                          ></a>
                        </div>
                      </div>
                      <!-- end deal-card -->
                    </div>
                    <!-- end col-lg-4 -->
                    <div class="col-lg-4 responsive-column">
                      <div class="deal-card">
                        <div class="deal-title d-flex align-items-center">
                          <img
                            src="~/images/airline-img6.png"
                            alt="air-line-img"
                          />
                          <h3 class="deal__title">
                            <a
                              href="flight-single.html"
                              class="d-flex align-items-center"
                            >
                              Hong Kong<i class="la la-exchange mx-2"></i
                              >Beijing
                            </a>
                          </h3>
                        </div>
                        <p class="deal__meta">Tue, Jul 14-Fri, Jul 24</p>
                        <div
                          class="deal-action-box d-flex align-items-center justify-content-between"
                        >
                          <div class="price-box d-flex align-items-center">
                            <span class="price__from mr-1">From</span
                            ><span class="price__num">$640</span>
                          </div>
                          <a href="flight-single.html" class="btn-text"
                            >See details<i class="la la-angle-right"></i
                          ></a>
                        </div>
                      </div>
                      <!-- end deal-card -->
                    </div>
                    <!-- end col-lg-4 -->
                  </div>
                </div>
                <!-- end tab-pane -->
                <div
                  class="tab-pane fade"
                  id="seoul"
                  role="tabpanel"
                  aria-labelledby="seoul-tab"
                >
                  <div class="row">
                    <div class="col-lg-4 responsive-column">
                      <div class="deal-card">
                        <div class="deal-title d-flex align-items-center">
                          <img
                            src="~/images/airline-img.png"
                            alt="air-line-img"
                          />
                          <h3 class="deal__title">
                            <a
                              href="flight-single.html"
                              class="d-flex align-items-center"
                            >
                              Seoul<i class="la la-exchange mx-2"></i>Nepal
                            </a>
                          </h3>
                        </div>
                        <p class="deal__meta">Tue, Jul 14-Fri, Jul 24</p>
                        <div
                          class="deal-action-box d-flex align-items-center justify-content-between"
                        >
                          <div class="price-box d-flex align-items-center">
                            <span class="price__from mr-1">From</span
                            ><span class="price__num">$340</span>
                          </div>
                          <a href="flight-single.html" class="btn-text"
                            >See details<i class="la la-angle-right"></i
                          ></a>
                        </div>
                      </div>
                      <!-- end deal-card -->
                    </div>
                    <!-- end col-lg-4 -->
                    <div class="col-lg-4 responsive-column">
                      <div class="deal-card">
                        <div class="deal-title d-flex align-items-center">
                          <img
                            src="~/images/airline-img2.png"
                            alt="air-line-img"
                          />
                          <h3 class="deal__title">
                            <a
                              href="flight-single.html"
                              class="d-flex align-items-center"
                            >
                              Seoul<i class="la la-exchange mx-2"></i>Taipei
                            </a>
                          </h3>
                        </div>
                        <p class="deal__meta">Tue, Jul 14-Fri, Jul 24</p>
                        <div
                          class="deal-action-box d-flex align-items-center justify-content-between"
                        >
                          <div class="price-box d-flex align-items-center">
                            <span class="price__from mr-1">From</span
                            ><span class="price__num">$740</span>
                          </div>
                          <a href="flight-single.html" class="btn-text"
                            >See details<i class="la la-angle-right"></i
                          ></a>
                        </div>
                      </div>
                      <!-- end deal-card -->
                    </div>
                    <!-- end col-lg-4 -->
                    <div class="col-lg-4 responsive-column">
                      <div class="deal-card">
                        <div class="deal-title d-flex align-items-center">
                          <img
                            src="~/images/airline-img3.png"
                            alt="air-line-img"
                          />
                          <h3 class="deal__title">
                            <a
                              href="flight-single.html"
                              class="d-flex align-items-center"
                            >
                              Seoul<i class="la la-exchange mx-2"></i>Beijing
                            </a>
                          </h3>
                        </div>
                        <p class="deal__meta">Tue, Jul 14-Fri, Jul 24</p>
                        <div
                          class="deal-action-box d-flex align-items-center justify-content-between"
                        >
                          <div class="price-box d-flex align-items-center">
                            <span class="price__from mr-1">From</span
                            ><span class="price__num">$140</span>
                          </div>
                          <a href="flight-single.html" class="btn-text"
                            >See details<i class="la la-angle-right"></i
                          ></a>
                        </div>
                      </div>
                      <!-- end deal-card -->
                    </div>
                    <!-- end col-lg-4 -->
                    <div class="col-lg-4 responsive-column">
                      <div class="deal-card">
                        <div class="deal-title d-flex align-items-center">
                          <img
                            src="~/images/airline-img4.png"
                            alt="air-line-img"
                          />
                          <h3 class="deal__title">
                            <a
                              href="flight-single.html"
                              class="d-flex align-items-center"
                            >
                              Seoul<i class="la la-exchange mx-2"></i>Tokyo
                            </a>
                          </h3>
                        </div>
                        <p class="deal__meta">Tue, Jul 14-Fri, Jul 24</p>
                        <div
                          class="deal-action-box d-flex align-items-center justify-content-between"
                        >
                          <div class="price-box d-flex align-items-center">
                            <span class="price__from mr-1">From</span
                            ><span class="price__num">$340</span>
                          </div>
                          <a href="flight-single.html" class="btn-text"
                            >See details<i class="la la-angle-right"></i
                          ></a>
                        </div>
                      </div>
                      <!-- end deal-card -->
                    </div>
                    <!-- end col-lg-4 -->
                    <div class="col-lg-4 responsive-column">
                      <div class="deal-card">
                        <div class="deal-title d-flex align-items-center">
                          <img
                            src="~/images/airline-img5.png"
                            alt="air-line-img"
                          />
                          <h3 class="deal__title">
                            <a
                              href="flight-single.html"
                              class="d-flex align-items-center"
                            >
                              Seoul<i class="la la-exchange mx-2"></i>Hong kong
                            </a>
                          </h3>
                        </div>
                        <p class="deal__meta">Tue, Jul 14-Fri, Jul 24</p>
                        <div
                          class="deal-action-box d-flex align-items-center justify-content-between"
                        >
                          <div class="price-box d-flex align-items-center">
                            <span class="price__from mr-1">From</span
                            ><span class="price__num">$100</span>
                          </div>
                          <a href="flight-single.html" class="btn-text"
                            >See details<i class="la la-angle-right"></i
                          ></a>
                        </div>
                      </div>
                      <!-- end deal-card -->
                    </div>
                    <!-- end col-lg-4 -->
                    <div class="col-lg-4 responsive-column">
                      <div class="deal-card">
                        <div class="deal-title d-flex align-items-center">
                          <img
                            src="~/images/airline-img6.png"
                            alt="air-line-img"
                          />
                          <h3 class="deal__title">
                            <a
                              href="flight-single.html"
                              class="d-flex align-items-center"
                            >
                              Seoul<i class="la la-exchange mx-2"></i>Bangkok
                            </a>
                          </h3>
                        </div>
                        <p class="deal__meta">Tue, Jul 14-Fri, Jul 24</p>
                        <div
                          class="deal-action-box d-flex align-items-center justify-content-between"
                        >
                          <div class="price-box d-flex align-items-center">
                            <span class="price__from mr-1">From</span
                            ><span class="price__num">$640</span>
                          </div>
                          <a href="flight-single.html" class="btn-text"
                            >See details<i class="la la-angle-right"></i
                          ></a>
                        </div>
                      </div>
                      <!-- end deal-card -->
                    </div>
                    <!-- end col-lg-4 -->
                  </div>
                </div>
                <!-- end tab-pane -->
                <div
                  class="tab-pane fade"
                  id="tokyo"
                  role="tabpanel"
                  aria-labelledby="tokyo-tab"
                >
                  <div class="row">
                    <div class="col-lg-4 responsive-column">
                      <div class="deal-card">
                        <div class="deal-title d-flex align-items-center">
                          <img
                            src="~/images/airline-img.png"
                            alt="air-line-img"
                          />
                          <h3 class="deal__title">
                            <a
                              href="flight-single.html"
                              class="d-flex align-items-center"
                            >
                              Tokyo<i class="la la-exchange mx-2"></i>Taipei
                            </a>
                          </h3>
                        </div>
                        <p class="deal__meta">Tue, Jul 14-Fri, Jul 24</p>
                        <div
                          class="deal-action-box d-flex align-items-center justify-content-between"
                        >
                          <div class="price-box d-flex align-items-center">
                            <span class="price__from mr-1">From</span
                            ><span class="price__num">$340</span>
                          </div>
                          <a href="flight-single.html" class="btn-text"
                            >See details<i class="la la-angle-right"></i
                          ></a>
                        </div>
                      </div>
                      <!-- end deal-card -->
                    </div>
                    <!-- end col-lg-4 -->
                    <div class="col-lg-4 responsive-column">
                      <div class="deal-card">
                        <div class="deal-title d-flex align-items-center">
                          <img
                            src="~/images/airline-img2.png"
                            alt="air-line-img"
                          />
                          <h3 class="deal__title">
                            <a
                              href="flight-single.html"
                              class="d-flex align-items-center"
                            >
                              Tokyo<i class="la la-exchange mx-2"></i>Taipei
                            </a>
                          </h3>
                        </div>
                        <p class="deal__meta">Tue, Jul 14-Fri, Jul 24</p>
                        <div
                          class="deal-action-box d-flex align-items-center justify-content-between"
                        >
                          <div class="price-box d-flex align-items-center">
                            <span class="price__from mr-1">From</span
                            ><span class="price__num">$740</span>
                          </div>
                          <a href="flight-single.html" class="btn-text"
                            >See details<i class="la la-angle-right"></i
                          ></a>
                        </div>
                      </div>
                      <!-- end deal-card -->
                    </div>
                    <!-- end col-lg-4 -->
                    <div class="col-lg-4 responsive-column">
                      <div class="deal-card">
                        <div class="deal-title d-flex align-items-center">
                          <img
                            src="~/images/airline-img3.png"
                            alt="air-line-img"
                          />
                          <h3 class="deal__title">
                            <a
                              href="flight-single.html"
                              class="d-flex align-items-center"
                            >
                              Tokyo<i class="la la-exchange mx-2"></i>Beijing
                            </a>
                          </h3>
                        </div>
                        <p class="deal__meta">Tue, Jul 14-Fri, Jul 24</p>
                        <div
                          class="deal-action-box d-flex align-items-center justify-content-between"
                        >
                          <div class="price-box d-flex align-items-center">
                            <span class="price__from mr-1">From</span
                            ><span class="price__num">$140</span>
                          </div>
                          <a href="flight-single.html" class="btn-text"
                            >See details<i class="la la-angle-right"></i
                          ></a>
                        </div>
                      </div>
                      <!-- end deal-card -->
                    </div>
                    <!-- end col-lg-4 -->
                    <div class="col-lg-4 responsive-column">
                      <div class="deal-card">
                        <div class="deal-title d-flex align-items-center">
                          <img
                            src="~/images/airline-img4.png"
                            alt="air-line-img"
                          />
                          <h3 class="deal__title">
                            <a
                              href="flight-single.html"
                              class="d-flex align-items-center"
                            >
                              Tokyo<i class="la la-exchange mx-2"></i>Tokyo
                            </a>
                          </h3>
                        </div>
                        <p class="deal__meta">Tue, Jul 14-Fri, Jul 24</p>
                        <div
                          class="deal-action-box d-flex align-items-center justify-content-between"
                        >
                          <div class="price-box d-flex align-items-center">
                            <span class="price__from mr-1">From</span
                            ><span class="price__num">$340</span>
                          </div>
                          <a href="flight-single.html" class="btn-text"
                            >See details<i class="la la-angle-right"></i
                          ></a>
                        </div>
                      </div>
                      <!-- end deal-card -->
                    </div>
                    <!-- end col-lg-4 -->
                    <div class="col-lg-4 responsive-column">
                      <div class="deal-card">
                        <div class="deal-title d-flex align-items-center">
                          <img
                            src="~/images/airline-img5.png"
                            alt="air-line-img"
                          />
                          <h3 class="deal__title">
                            <a
                              href="flight-single.html"
                              class="d-flex align-items-center"
                            >
                              Tokyo<i class="la la-exchange mx-2"></i>Hong kong
                            </a>
                          </h3>
                        </div>
                        <p class="deal__meta">Tue, Jul 14-Fri, Jul 24</p>
                        <div
                          class="deal-action-box d-flex align-items-center justify-content-between"
                        >
                          <div class="price-box d-flex align-items-center">
                            <span class="price__from mr-1">From</span
                            ><span class="price__num">$100</span>
                          </div>
                          <a href="flight-single.html" class="btn-text"
                            >See details<i class="la la-angle-right"></i
                          ></a>
                        </div>
                      </div>
                      <!-- end deal-card -->
                    </div>
                    <!-- end col-lg-4 -->
                    <div class="col-lg-4 responsive-column">
                      <div class="deal-card">
                        <div class="deal-title d-flex align-items-center">
                          <img
                            src="~/images/airline-img6.png"
                            alt="air-line-img"
                          />
                          <h3 class="deal__title">
                            <a
                              href="flight-single.html"
                              class="d-flex align-items-center"
                            >
                              Tokyo<i class="la la-exchange mx-2"></i>Hanoi
                            </a>
                          </h3>
                        </div>
                        <p class="deal__meta">Tue, Jul 14-Fri, Jul 24</p>
                        <div
                          class="deal-action-box d-flex align-items-center justify-content-between"
                        >
                          <div class="price-box d-flex align-items-center">
                            <span class="price__from mr-1">From</span
                            ><span class="price__num">$640</span>
                          </div>
                          <a href="flight-single.html" class="btn-text"
                            >See details<i class="la la-angle-right"></i
                          ></a>
                        </div>
                      </div>
                      <!-- end deal-card -->
                    </div>
                    <!-- end col-lg-4 -->
                  </div>
                </div>
                <!-- end tab-pane -->
                <div
                  class="tab-pane fade"
                  id="beijing"
                  role="tabpanel"
                  aria-labelledby="beijing-tab"
                >
                  <div class="row">
                    <div class="col-lg-4 responsive-column">
                      <div class="deal-card">
                        <div class="deal-title d-flex align-items-center">
                          <img
                            src="~/images/airline-img.png"
                            alt="air-line-img"
                          />
                          <h3 class="deal__title">
                            <a
                              href="flight-single.html"
                              class="d-flex align-items-center"
                            >
                              Beijing<i class="la la-exchange mx-2"></i>Taipei
                            </a>
                          </h3>
                        </div>
                        <p class="deal__meta">Tue, Jul 14-Fri, Jul 24</p>
                        <div
                          class="deal-action-box d-flex align-items-center justify-content-between"
                        >
                          <div class="price-box d-flex align-items-center">
                            <span class="price__from mr-1">From</span
                            ><span class="price__num">$340</span>
                          </div>
                          <a href="flight-single.html" class="btn-text"
                            >See details<i class="la la-angle-right"></i
                          ></a>
                        </div>
                      </div>
                      <!-- end deal-card -->
                    </div>
                    <!-- end col-lg-4 -->
                    <div class="col-lg-4 responsive-column">
                      <div class="deal-card">
                        <div class="deal-title d-flex align-items-center">
                          <img
                            src="~/images/airline-img2.png"
                            alt="air-line-img"
                          />
                          <h3 class="deal__title">
                            <a
                              href="flight-single.html"
                              class="d-flex align-items-center"
                            >
                              Beijing<i class="la la-exchange mx-2"></i>Taipei
                            </a>
                          </h3>
                        </div>
                        <p class="deal__meta">Tue, Jul 14-Fri, Jul 24</p>
                        <div
                          class="deal-action-box d-flex align-items-center justify-content-between"
                        >
                          <div class="price-box d-flex align-items-center">
                            <span class="price__from mr-1">From</span
                            ><span class="price__num">$740</span>
                          </div>
                          <a href="flight-single.html" class="btn-text"
                            >See details<i class="la la-angle-right"></i
                          ></a>
                        </div>
                      </div>
                      <!-- end deal-card -->
                    </div>
                    <!-- end col-lg-4 -->
                    <div class="col-lg-4 responsive-column">
                      <div class="deal-card">
                        <div class="deal-title d-flex align-items-center">
                          <img
                            src="~/images/airline-img3.png"
                            alt="air-line-img"
                          />
                          <h3 class="deal__title">
                            <a
                              href="flight-single.html"
                              class="d-flex align-items-center"
                            >
                              Beijing<i class="la la-exchange mx-2"></i>Beijing
                            </a>
                          </h3>
                        </div>
                        <p class="deal__meta">Tue, Jul 14-Fri, Jul 24</p>
                        <div
                          class="deal-action-box d-flex align-items-center justify-content-between"
                        >
                          <div class="price-box d-flex align-items-center">
                            <span class="price__from mr-1">From</span
                            ><span class="price__num">$140</span>
                          </div>
                          <a href="flight-single.html" class="btn-text"
                            >See details<i class="la la-angle-right"></i
                          ></a>
                        </div>
                      </div>
                      <!-- end deal-card -->
                    </div>
                    <!-- end col-lg-4 -->
                    <div class="col-lg-4 responsive-column">
                      <div class="deal-card">
                        <div class="deal-title d-flex align-items-center">
                          <img
                            src="~/images/airline-img4.png"
                            alt="air-line-img"
                          />
                          <h3 class="deal__title">
                            <a
                              href="flight-single.html"
                              class="d-flex align-items-center"
                            >
                              Beijing<i class="la la-exchange mx-2"></i>Tokyo
                            </a>
                          </h3>
                        </div>
                        <p class="deal__meta">Tue, Jul 14-Fri, Jul 24</p>
                        <div
                          class="deal-action-box d-flex align-items-center justify-content-between"
                        >
                          <div class="price-box d-flex align-items-center">
                            <span class="price__from mr-1">From</span
                            ><span class="price__num">$340</span>
                          </div>
                          <a href="flight-single.html" class="btn-text"
                            >See details<i class="la la-angle-right"></i
                          ></a>
                        </div>
                      </div>
                      <!-- end deal-card -->
                    </div>
                    <!-- end col-lg-4 -->
                    <div class="col-lg-4 responsive-column">
                      <div class="deal-card">
                        <div class="deal-title d-flex align-items-center">
                          <img
                            src="~/images/airline-img5.png"
                            alt="air-line-img"
                          />
                          <h3 class="deal__title">
                            <a
                              href="flight-single.html"
                              class="d-flex align-items-center"
                            >
                              Beijing<i class="la la-exchange mx-2"></i>Hong
                              kong
                            </a>
                          </h3>
                        </div>
                        <p class="deal__meta">Tue, Jul 14-Fri, Jul 24</p>
                        <div
                          class="deal-action-box d-flex align-items-center justify-content-between"
                        >
                          <div class="price-box d-flex align-items-center">
                            <span class="price__from mr-1">From</span
                            ><span class="price__num">$100</span>
                          </div>
                          <a href="flight-single.html" class="btn-text"
                            >See details<i class="la la-angle-right"></i
                          ></a>
                        </div>
                      </div>
                      <!-- end deal-card -->
                    </div>
                    <!-- end col-lg-4 -->
                    <div class="col-lg-4 responsive-column">
                      <div class="deal-card">
                        <div class="deal-title d-flex align-items-center">
                          <img
                            src="~/images/airline-img6.png"
                            alt="air-line-img"
                          />
                          <h3 class="deal__title">
                            <a
                              href="flight-single.html"
                              class="d-flex align-items-center"
                            >
                              Beijing<i class="la la-exchange mx-2"></i>Hanoi
                            </a>
                          </h3>
                        </div>
                        <p class="deal__meta">Tue, Jul 14-Fri, Jul 24</p>
                        <div
                          class="deal-action-box d-flex align-items-center justify-content-between"
                        >
                          <div class="price-box d-flex align-items-center">
                            <span class="price__from mr-1">From</span
                            ><span class="price__num">$640</span>
                          </div>
                          <a href="flight-single.html" class="btn-text"
                            >See details<i class="la la-angle-right"></i
                          ></a>
                        </div>
                      </div>
                      <!-- end deal-card -->
                    </div>
                    <!-- end col-lg-4 -->
                  </div>
                </div>
                <!-- end tab-pane -->
              </div>
              <!-- end tab-content -->
              <div
                class="tab-content-info d-flex justify-content-between align-items-center"
              >
                <p class="font-size-15">
                  <i class="la la-question-circle mr-1"></i>Average round-trip
                  price per person, taxes and fees included.
                </p>
                <a href="#" class="btn-text font-size-15"
                  >Discover More <i class="la la-angle-right"></i
                ></a>
              </div>
              <!-- end tab-content-info -->
            </div>
          </div>
          <!-- end col-lg-12 -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </section>

