@model RegisterVM




<form asp-action="Register">
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
    </div>
    <button type="submit">Register</button>
</form>



















@* <div class="container">
    <div class="row">
        <div class="col-xxl-12">
            <h3>Account Confirmed</h3>
        </div>
    </div>
</div> *@