﻿@{
    ViewData["Title"] = "ForgetPassword";
}

@model ForgotPassword

@section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
}

<!-- login area start -->
<section class="tp-login-area pb-140 p-relative z-index-1 fix">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 shadow mt-lg-5 mb-lg-5">
                <div class="tp-login-wrapper">
                    <div class="tp-login-top text-center mb-30">
                        <h3 class="tp-login-title">Reset Password</h3>
                        <p>Enter your email address to request password reset.</p>
                    </div>

                    <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
                    </div>
                    <form asp-controller="Account" asp-action="ForgotPassword" method="post">
                        <div class="tp-login-option">
                            <div class="tp-login-input-wrapper">
                                <div class="tp-login-input-box">
                                    <div class="tp-login-input">
                                        <div class="tp-login-input-title">
                                            <label asp-for="Email">Your Email</label>
                                        </div>
                                        <input asp-for="Email" type="email" class=" forgot-password form-group" style="width:550px">
                                        <span class="text-danger" asp-validation-for="Email"></span>

                                    </div>
                                  
                                </div>
                            </div>
                            <div class="tp-login-bottom mb-15" style="width:550px">
                                <button type="submit" class="tp-login-btn w-100 btn btn-danger">Send Mail</button>
                            </div>
                            <div class="tp-login-suggetions d-sm-flex align-items-center justify-content-center">
                                <div class="tp-login-forgot mb-5">
                                    <span>Remember Passowrd? <a asp-action="Login"> Login</a></span>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- login area end -->



