@* ﻿<div class="container">
    <h1>@ViewBag.Message</h1>
</div> *@

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card text-center shadow-lg p-4">
        <div class="card-body">
            <div class="icon-container mb-4">
                <i class="fas fa-check-circle"></i>
            </div>
            <h1 class="card-title">@ViewBag.Message</h1>
            <p class="card-text">Please, Control Your Mail Box</p>
            <a href="/" class="btn btn-success">Go to Homepage</a>
        </div>
    </div>
</div>