@model Product


<div class="row">
    <div class="col-lg-12">
        <div class="form-box">
            <div class="form-title-wrap">
                <div class="d-flex align-items-center justify-content-between">
                    <div>
                        <h3 class="title">Create Fly Tickts</h3>
                    </div>

                </div>
            </div>
            <div class="form-content">
                <div class="table-form table-responsive">


                    <form class="row" style="width: 1000px;" method="post" asp-area="Admin" asp-controller="Product" asp-action="Edit" enctype="multipart/form-data">

                        @Html.AntiForgeryToken()
                        <div class="col-md-4">
                            <label>
                                From
                            </label>
                          

                            <input asp-for="From" type="text" class="form-control" />
                            <span asp-validation-for="From" class="text-danger"></span>
                        </div>



                        <div class="col-md-4">
                            <label>
                                To
                            </label>
                            <input asp-for="To" type="text" class="form-control" />
                            <span asp-validation-for="To" class="text-danger"></span>
                        </div>

                        <div class="col-md-4">
                            <label>
                                Direction
                            </label>
                              
                            <input asp-for="Way" type="text" class="form-control" />
                            <span asp-validation-for="Way" class="text-danger"></span>

                        </div>

                        <div class="col-md-4">
                            <label>
                                Class
                            </label>
                            <input asp-for="Classes" type="text" class="form-control" />                         
                            <span asp-validation-for="Classes" class="text-danger"></span>
                        </div>



                        <div class="col-md-4">
                            <label>
                                Stops
                            </label>
                            <input asp-for="Stop" type="text" class="form-control" />
                            <span asp-validation-for="Stop" class="text-danger"></span>

                        </div>


                        <div class="col-md-4">
                            <label>
                                Flight Number
                            </label>
                            <input asp-for="FlightNumber" type="text" class="form-control" />
                            <span asp-validation-for="FlightNumber" class="text-danger"></span>
                        </div>

                        <div class="col-md-4">
                            <label>
                                Price
                            </label>
                            <input asp-for="Price" type="text" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>

                        </div>

                        <div class="col-md-4">
                            <label>
                                Take Off Time
                            </label>
                            <input asp-for="Date" type="text" class="form-control" />
                            <span asp-validation-for="Date" class="text-danger"></span>

                        </div>

                        <div class="col-md-4">
                            <label>
                                Landing Time
                            </label>
                            <input asp-for="LandigTime" type="text" class="form-control" />
                            <span asp-validation-for="LandigTime" class="text-danger"></span>
                        </div>

                        <div class="col-md-4">
                            <label>
                                Total Flight Time
                            </label>
                            <input asp-for="TotalTime" type="text" class="form-control" />
                            <span asp-validation-for="TotalTime" class="text-danger"></span>

                        </div>


                        <div class="col-md-4">
                            <label>
                                Images
                            </label>
                            <input asp-for="File" type="file" class="form-control" />
                        </div>

                        <div class="col-md-4">
                            <label>
                                Reviewed
                            </label>
                            <input asp-for="IsAvailable" type="checkbox" class="form-check" />
                        </div>


                        <div class="col-md-4">
                            <button type="submit" class="btn btn-success mt-3 btn-block">Edit</button>
                        </div>

                    </form>
                </div>
            </div>
        </div><!-- end form-box -->
    </div><!-- end col-lg-12 -->
</div><!-- end row -->